@font-face {
    font-family: 'Geometria';
    src: local('Geometria Bold'), local('Geometria-Bold'),
        url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff'),
        url('Geometria-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }